<div class="container text-center mt-3 mb-3 col-md-8">
   <form class="card bg-light ml-3 mr-3" action="/movie/edit/{{ movie._id }}" method="post">
      <h1 class="text text-primary mt-2 mb-2">Edit movie</h1>
      <div class="form-group mt-2 mb-2">
         <label class="fw-bold" for="">Movie title</label>
         <input class="form-control" type="text" name="title" value={{ movie.title }} required>
      </div>
      <div class="form-group mt-2 mb-2">
         <label class="fw-bold" for="">Movie director</label>
         <input class="form-control" type="text" name="director" value={{ movie.director }} required>
      </div>
      <div class="form-group mt-2 mb-2">
         <label class="fw-bold" for="">Movie actor</label>
         <input class="form-control" type="text" name="actor" value={{ movie.actor }} required>
      </div>
      <div class="form-group mt-2 mb-2">
         <label class="fw-bold" for="">Movie year</label>
         <input class="form-control" type="number" name="year" value={{ movie.year }} required min="2000" max="2023">
      </div>
      <div class="form-group mt-2 mb-2">
         <label class="fw-bold" for="">Movie poster</label><br>
         <img src="{{ movie.poster }}" width="150" height="200">
         <input class="form-control" type="text" name="poster" value={{ movie.poster }} required>
      </div>
      <div class="form-group mt-2 mb-2">
         <label class="fw-bold" for="">Movie trailer</label><br>
         <iframe src="https://www.youtube.com/embed/{{movie.trailer}}" width="250" height="200"></iframe>
         <input class="form-control" type="text" name="trailer" value={{ movie.trailer }} required>
      </div>
      <div class="form-group mt-2 mb-2">
         <input class="btn btn-danger" type="submit" value="Edit">
      </div>
</form>
</div>
